# Node
node_modules/

# Environment variables
.env

# Firebase Admin SDK (private key)
firebaseAdmin.json
digital-life-lessons-a1e70-firebase-adminsdk-*.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.vercel
